@page
@model Hotel.Pages.Hotel_Room.CreateModel
@{
}
<h1>Добавить комнату</h1>
<form method="post">
    <div>
        <label>Номер</label><br />
        <input asp-for="Hotel_Room.RoomNumber" />
        <span asp-validation-for="Hotel_Room.RoomNumber"></span>
    </div>

    <div>
        <label>Этаж</label><br />
        <input asp-for="Hotel_Room.Floor" />
    </div>

    <div>
        <label>Корпус</label><br />
        <input asp-for="Hotel_Room.Building" type="number" />
    </div>

    <div>
        <label>Категория</label><br />
        <input asp-for="Hotel_Room.Category" type="number" />
    </div>

    <button type="submit">Сохранить</button>
</form>

<a asp-page="Index">Назад</a>