@page
@model Hotel.Pages.Hotel_Rooms.DeleteModel

<h1 class="mb-4 text-danger">Удалить номер</h1>

<div class="alert alert-warning">
    <h3>Вы уверены, что хотите удалить этот номер?</h3>
</div>

<div class="card mb-4 col-md-6">
    <div class="card-body">
        <p><strong>Номер:</strong> @Model.Hotel_Room.RoomNumber</p>
        <p><strong>Этаж:</strong> @Model.Hotel_Room.Floor</p>
        <p><strong>Корпус:</strong> @Model.Hotel_Room.Building</p>
        <p><strong>Категория:</strong> @Model.Hotel_Room.Category</p>
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="Hotel_Room.Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-page="Index" class="btn btn-secondary">Отмена</a>
</form>