@page
@model Hotel.Pages.Hotel_Rooms.DeleteModel
@{
}

<h1>Удалить номер</h1>

<h3>Вы уверены?</h3>

<div>
    <p><strong>@Model.Hotel_Room.RoomNumber</strong></p>
    <p>@Model.Hotel_Room.Floor</p>
</div>

<form method="post">
    <input type="hidden" asp-for="Hotel_Room.Id" />
    <button type="submit">Удалить</button>
</form>

<a asp-page="Index">Отмена</a>
