@page
@model Hotel.Pages.Hotel_Rooms.EditModel

<h1 class="mb-4">Редактировать номер</h1>

<form method="post" class="col-md-6">
    <input type="hidden" asp-for="Hotel_Room.Id" />

    <div class="mb-3">
        <label asp-for="Hotel_Room.RoomNumber" class="form-label">Номер</label>
        <input asp-for="Hotel_Room.RoomNumber" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Hotel_Room.Floor" class="form-label">Этаж</label>
        <input asp-for="Hotel_Room.Floor" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Hotel_Room.Building" class="form-label">Корпус</label>
        <input asp-for="Hotel_Room.Building" type="number" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Hotel_Room.Category" class="form-label">Категория</label>
        <input asp-for="Hotel_Room.Category" type="number" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-page="Index" class="btn btn-secondary">Назад</a>
</form>