@page
@model Hotel.Pages.Clients.DeleteModel

<h1 class="mb-4 text-danger">Удалить клиента</h1>

<div class="alert alert-warning">
    <h3>Вы уверены, что хотите удалить этого клиента?</h3>
</div>

<div class="card mb-4 col-md-6">
    <div class="card-body">
        <p><strong>Фамилия и имя:</strong> @Model.Client.LastName</p>
        <p><strong>Телефон:</strong> @Model.Client.Phone</p>
        <p><strong>Email:</strong> @Model.Client.Email</p>
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="Client.Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-page="Index" class="btn btn-secondary">Отмена</a>
</form>